<footer id="site-footer" class="site-footer">
    <div class="footer">
        <div class="grid-container">
            <div class="row grid-margin-x">
                <div class="large-3 columns social-media-block row-mb-1">
                    <div class="logo">
                        <a href="${properties.logotitlelink}">
                            <h1>${properties.title}</h1>
                        </a>
                    </div>

                    <div class="large-9 columns footer-nav">
                        <div class="row grid-margin-x">
                            <div class="columns medium-3">
                                <div>
                                    <!-- SDI include (path: /content/ahm/en/home/_jcr_content/footer-ipar/footer/navlist-1.nocache.html, resourceType: abbott-ptinr/components/content/utilitynav) -->


                                    <!-- Placeholder for Utility Navigation Component -->

                                    <!-- Mark up for Utility Navigation Component with actual Data -->
                                    <sly data-sly-use.check="com.ttn.core.MultipleLinks"/>
                                    <ul class="no-bullet" data-sly-list.list3="${check.getLinlkstab3}">
                                        <li>


                                            <a href="${list3.linktextaction}">
                                                ${list3.linktext}
                                            </a>

                                        </li>
                                    </ul>


                                </div>
                            </div>
                            <div class="columns medium-2 pl-0-640">
                                <div>
                                    <!-- SDI include (path: /content/ahm/en/home/_jcr_content/footer-ipar/footer/navlist-2.nocache.html, resourceType: abbott-ptinr/components/content/utilitynav) -->


                                    <!-- Placeholder for Utility Navigation Component -->

                                    <!-- Mark up for Utility Navigation Component with actual Data -->
                                    <ul class="no-bullet" data-sly-list.list2="${check.getLinlkstab2}">
                                        <li>


                                            <a href="${list2.linktextaction}">
                                                ${list2.linktext}
                                            </a>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="columns medium-3 pl-2p3-640">
                                <div>
                                    <!-- SDI include (path: /content/ahm/en/home/_jcr_content/footer-ipar/footer/navlist-3.nocache.html, resourceType: abbott-ptinr/components/content/utilitynav) -->


                                    <!-- Placeholder for Utility Navigation Component -->

                                    <!-- Mark up for Utility Navigation Component with actual Data -->
                                    <ul class="no-bullet" data-sly-list.list4="${check.getLinlkstab4}">
                                        <li>


                                            <a href="${navlist.linktextaction}">
                                                ${list4.linktext}
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="columns medium-4 pl-2-640">
                                <div class="contact-info">
                                    <p>Taking warfarin?<br>
                                        <a href="tel:18005044032"><span
                                                class="text-green">Call ${properties.number}</span></a><br>
                                        today to test anywhere,<br>
                                        on your schedule.<br>
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="row grid-margin-x footer-content">
                            <div class="columns">
                                <div>
                                    <p>© ${properties.copyrighttext}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>