.blogform-component{
    background-color: #00B454;
    padding: 20px;
    font: Sans-serif;

}

.blogform-component h2{
	margin-left: 43%;
}

.blogform{
      margin-left: 25%;
}

.bloginput1{
    padding: 10px;
    width: 32%;
    border-radius: 7px;	
    display: inline !important;
}

.bloginput2{
    padding: 10px;
    margin-left: 5%;
    width: 32%;
    border-radius: 7px;
    display: inline !important;
}


.blogtextarea{
    padding: 10px;
    border-radius: 7px;
}

.blog-button-form{
   background-color: #FF4500;
   padding: 20px;
   width: 20%;
   color: white;
   border-radius: 12px;
   margin-left: 23%;
}
